@media only screen and (max-width: 600px) {
  .filter-field.active {
    position: relative;
    padding: 1em 1em;
    margin: 0 1em;
  }

  .job-listings {
    margin: 4em 1em;
  }

  .job-listings.active {
    margin: 1em 1em;
  }

  .job-listing {
    display: block;
    background-color: white;
    padding: 1.5em;
    margin-bottom: 2.5em;
    border-radius: 6px;
    border-left: 0.4em solid white;
    box-shadow: 2px 8px 10px 2px hsl(180deg 29% 50% / 20%);
  }

  .job-info {
    display: block;
  }

  .job-text {
    position: relative;
    top: -3em;
    margin: 0;
    padding-top: 1em;
  }

  .job-filters {
    position: relative;
    top: -1em;
    padding-top: 1em;
    border-top: 1px solid rgb(196, 196, 196);
  }

  .logo {
    position: relative;
    top: -3.2em;
    width: 60px;
    height: 60px;
  }
}
