@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('components/button.css');
@import url('components/card.css');
@import url('components/filter.css');
@import url('components/header.css');
@import url('components/logo.css');

body {
  background-color: hsl(180, 52%, 96%);
  font-family: 'Spartan', sans-serif;
  padding: 0;
  margin: 0;
}

h5 {
  color: hsl(180, 29%, 50%);
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
